<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"  
      >
    <!-- Extraindo -->


    <head>
        <title>Cadastra-se Adota Pet</title>
        
         <link rel="icon" type="image/png" href="images/favicon.ico"  />
        <!--===============================================================================================-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/animsition@4.0.2/dist/css/animsition.min.css" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="css/login.css" />
        
    </head>
    <body>

        <div class="container-fluid corpo">
            <div class="row justify-content-md-center h-100 p-5">
                <div class="card-wrapper">
                    <div class="brand text-center">
                        <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
                        <!--<img src="img/logo.jpg" alt="logo">-->
                    </div>
                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Cadastro</h4>
                            <h:form >
                               
                                
                                
                                 <div class="form-group">

                                     <label for="email">Nome:</label>
                                     <h:inputText class="form-control" value="#{cadMB.user. nome}" />      

                                 </div>

                                 <div class="form-group">

                                     <label for="email">Email:</label>
                                     <h:inputText class="form-control" value="#{cadMB.user.email}" />      

                                 </div>

                                 <div class="form-group">

                                     <label for="email">Login:</label>
                                     <h:inputText class="form-control" value="#{cadMB.user.login}"  />      

                                 </div>

                                 <div class="form-group">

                                     <label for="email">Senha:</label>
                                     <h:inputSecret class="form-control" value="#{cadMB.user.senha}"  />      

                                 </div>

                                <h:commandButton class="btn-primary" value="Salvar" 
                                                 action="#{cadMB.saveUser()}"/>
                                
                                
                                                                          
                            </h:form>
                        </div>
                    </div>
                    <div class="footer text-center">
                        POOA 2021
                    </div>
                </div>
            </div>
        </div>


        <!--===============================================================================================-->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

        <!--===============================================================================================-->
        <script src="https://cdn.jsdelivr.net/npm/animsition@4.0.2/dist/js/animsition.min.js"></script>
        <!--===============================================================================================-->

    </body>
</html>

