<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./template.xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:define name="title">
        Cadastro de Pets
    </ui:define>

    <ui:define name="body">

        <h1>Cadastro de Pets</h1>     

        <h:messages style="color: red" showDetail="true" />


        <h:panelGroup rendered="#{cadPetMB.view}">
            <p:panel header="Pesquisa" toggleable="true" toggleSpeed="500"
                     closeSpeed="500" widgetVar="panel" >

                <h1>Pesquisa</h1>

                <h:panelGrid columns="4" class="w-100">

                    Nome Animal:
                    <h:inputText />

                    Adotante:
                    <h:inputText />

                    Idade:     
                    de     
                    <h:inputText />
                    até
                    <h:inputText />  

                </h:panelGrid>

                <h:form>
                    <h:commandButton class="btn btn-secondary" value="Pesquisar" />

                    <h:commandButton class="btn btn-primary" value="Novo Pet"
                                     action="#{cadPetMB.trocar()}" />
                </h:form>

            </p:panel> 

            <p:dataTable var="pet" value="#{cadPetMB.lista}" rows="5"
                         paginator="true" emptyMessage="Não há animal cadastrado">

                <p:column headerText="Nome:">
                    <h:outputText value="#{pet.nome}" />
                </p:column>   

                <p:column headerText="Sexo:">
                    <h:outputText value="#{pet.sexo}" />
                </p:column>      

                <p:column headerText="Animal:">
                    <h:outputText value="#{pet.tipo}" />
                </p:column>         

                <p:column headerText="É Domesticado:">
                    <h:outputText value="#{pet.ehDomesticado?'Sim' : 'Não'}" />
                </p:column> 

                <p:column headerText="Adotante:">
                    <h:outputText value="#{pet.nomeAdotante}" />
                </p:column> 

                 <p:column headerText="alterar">
                    
                     <h:form>
                         
                         <h:commandLink value="A" action="#{cadPetMB.preparedEdit(pet.id, pet.tipo)}" />
                         
                     </h:form>
                     
                </p:column> 
        
                <p:column headerText="Apagar">
                    
                     <h:form>
                         
                         <h:commandLink value="X" action="#{cadPetMB.delete(pet.id, pet.tipo)}" />
                         
                     </h:form>
                     
                </p:column>
                
                
                
            </p:dataTable>

        </h:panelGroup>

        <h:panelGroup rendered="#{cadPetMB.status == 'INSERT' || cadPetMB.status == 'EDIT'}">

            <h1>Novo Pet</h1>

            <h:form>
                <h:panelGrid columns="2" class="w-100">

                    Nome:
                    <h:column>
                        <h:inputText id="nm" value="#{cadPetMB.animal.nome}" required="true" 
                                      requiredMessage="O nome não pode ser vazio"/> 
                         
                        <h:message for="nm" />
                    </h:column>
                    
                   

                    Tipo Animal: <h:selectOneRadio layout="pageDirection"
                                                   value="#{cadPetMB.tipoEscolhido}" >

                        <f:selectItem itemValue="c" itemLabel="Cachorro" />
                        <f:selectItem itemValue="g"  itemLabel="Gato" />


                        <f:ajax event="change" listener="#{cadPetMB.changeTipo()}" execute="@this" render="dvTipo" />


                    </h:selectOneRadio>

                    Sexo do animal: <h:selectOneMenu value="#{cadPetMB.animal.sexo}" >

                        <f:selectItem itemValue="Masculino" itemLabel="Masculino" />
                        <f:selectItem itemValue="Feminino"  itemLabel="Feminino" />

                    </h:selectOneMenu>

                    Data de Nascimento:<h:inputText value="#{cadPetMB.animal.dataNasc}" 
                            validator="#{cadPetMB.validaDataNascimento}">

                        <f:convertDateTime pattern="dd/MM/yyyy" />

                    </h:inputText>

                    <h:column />      
                    <h:column >

                        <h:selectBooleanCheckbox  value="#{cadPetMB.animal.ehDomesticado}" /> é domesticado
                        <h:selectBooleanCheckbox value="#{cadPetMB.animal.ehVacinado}" /> é vacinado
                        <h:selectBooleanCheckbox value="#{cadPetMB.animal.ehCadastrado}"  /> é castrado
                    </h:column>

                    <h:column />


                    <h:panelGroup id="dvTipo">
                        <h:panelGroup rendered="#{cadPetMB.tipoEscolhido == 'c'}" >

                            <h2>Cachorro</h2>

                            Porte:
                            <h:selectOneMenu value="#{cadPetMB.animal.porte}" >

                                <f:selectItems value="${cadPetMB.porteCachorro}"   
                                               var="p"  itemValue="#{p}" itemLabel="#{p}" />

                            </h:selectOneMenu>
                            <br />

                            Raça:

                            <h:selectOneMenu value="#{cadPetMB.animal.raca}" >

                                <f:selectItems value="${cadPetMB.racaCachorro}"   
                                               var="p"  itemValue="#{p}" itemLabel="#{p}" />

                            </h:selectOneMenu>

                        </h:panelGroup>

                        <h:panelGroup rendered="#{cadPetMB.tipoEscolhido == 'g'}">

                            <h2>Gato</h2>

                            Pelagem:
                            <h:selectOneMenu value="#{cadPetMB.animal.pelagem}" >

                                <f:selectItems value="${cadPetMB.pelagemGato}"   
                                               var="p"  itemValue="#{p}" itemLabel="#{p}" />

                            </h:selectOneMenu>
                            <br />

                            Raça:
                            <h:selectOneMenu value="#{cadPetMB.animal.raca}" >

                                <f:selectItems value="${cadPetMB.racaGato}"   
                                               var="p"  itemValue="#{p}" itemLabel="#{p}" />

                            </h:selectOneMenu>

                        </h:panelGroup>

                    </h:panelGroup>

                </h:panelGrid>

                <h:commandButton class="btn btn-primary" value="voltar"
                                 action="#{cadPetMB.voltar()}" />

                <h:commandButton class="btn btn-primary" value="Salvar"
                                 action="#{cadPetMB.salvar()}"  />
            </h:form>

        </h:panelGroup>
    </ui:define>

</ui:composition>
