<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./template.xhtml">

    <ui:define name="title">

        #{indexMb.nomeProjeto}   

    </ui:define>
    <ui:define name="header">
    </ui:define>

    <ui:define name="body">
        <h1> Conteúdo Principal </h1>
        <h2> Olá #{loginMB.user.nome} </h2>
        <h2>Tipo: #{loginMB.user.tipo} </h2>
    </ui:define>


</ui:composition>
