<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"  
      >
    <!-- Extraindo -->


    <head>
        <title>Login Adota Pet</title>

        <link rel="icon" type="image/png" href="images/favicon.ico"  />
        <!--===============================================================================================-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/animsition@4.0.2/dist/css/animsition.min.css" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="css/login.css" />

    </head>
    <body>

        <div class="container-fluid corpo">
            <div class="row justify-content-md-center h-100 p-5">
                <div class="card-wrapper">
                    <div class="brand text-center">
                        <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
                        <!--<img src="img/logo.jpg" alt="logo">-->
                    </div>


                    <h:panelGroup rendered="#{loginMB.msgAviso != ''}">

                        <div class="card" style="margin-botton: 35px" >
                            <div class="card-header bg-success">
                                Aviso
                            </div>
                            <div class="card-body">     
                                #{loginMB.msgAviso} <!-- pegando mensagem do Cadastromb -->
                            </div>
                        </div>         

                    </h:panelGroup>

                    <div class="card fat">
                        <div class="card-body">
                            <h4 class="card-title">Login</h4>
                            <h:form >

                                <div class="form-group">
                                    <label for="email">E-Mail</label>
                                    <h:inputText class="form-control" value="#{loginMB.nome}" />      


                                </div>

                                <div class="form-group">
                                    <label for="password">Password
                                    </label>
                                    <h:inputSecret class="form-control" value="#{loginMB.senha}" />       
                                </div>       

                                #{loginMB.msgErro}


                                <div class="form-group m-0">

                                    <h:commandButton class="btn btn-primary btn-block"  value="Login" action="#{validaLoginMB.verificaPassword()}" />

                                </div>

                                <div class="mt-4 text-center">                                   
                                    <h:commandLink class="nav-link" value="Cadastre-se" action="#{loginMB.callCadastro()}" />                          
                                </div>

                            </h:form>
                        </div>
                    </div>
                    <div class="footer text-center">
                        POOA 2021
                    </div>
                </div>
            </div>
        </div>


        <!--===============================================================================================-->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

        <!--===============================================================================================-->
        <script src="https://cdn.jsdelivr.net/npm/animsition@4.0.2/dist/js/animsition.min.js"></script>
        <!--===============================================================================================-->

    </body>
</html>

