<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <!--        <h:outputStylesheet name="./css/default.css"/>
                <h:outputStylesheet name="./css/cssLayout.css"/>-->

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
        <!--===============================================================================================-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css" integrity="sha512-LeCmts7kEi09nKc+DwGJqDV+dNQi/W8/qb0oUSsBLzTYiBwxj0KBlAow2//jV7jwEHwSCPShRN2+IWwWcn1x7Q==" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" />
        <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="css/home.css" />

        <script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

        <title> <ui:insert name="title">Adota Pet</ui:insert> </title>
    </h:head>

    <h:body>

        <header>
            <nav class="navbar navbar-inverse navbar navbar-dark bg-dark fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="btn btn-dark navbar-toggle pull-left menu-toggle"  data-target="#side-bar">
                            <i class="oi oi-menu"></i>
                        </button>
                        <a class="navbar-brand " href="#">Adota Pet</a>
                    </div>
                </div>
            </nav>
        </header>
        <input type="hidden" nome="ac" value="cadTime"/>    
        <div class="layout-main"> 

            <aside class="wrapper" id="side-bar">
                <nav id="menu" class="sidebar sidebar-open">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <h:form> 

                                <h:commandLink class="nav-item" value="Home" action="#{templateMB.home()}" />
                                <!-- gerando href -->

                            </h:form>     
                        </li>
                    </ul>
                    <ul class="nav nav-pills">
                        <li class="nav-item"><span class="nav-link active" >Administração</span></li>
                        <li class="nav-item">
                            <h:form> 

                                <h:commandLink class="nav-item" value="Cadastrar Pet" action="#{templateMB.cadastrarPet()}" />
                                <!-- gerando href -->

                            </h:form>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link"
                               href="control?ac=listaTimes"> <i class="oi oi-cart"></i> <span>Cadastrar Adotante</span>
                            </a>
                        </li>

                    </ul>
                    <ul class="nav nav-pills">
                        <li class="nav-item"><span class="nav-link active" >Geral</span></li>


                        <h:panelGroup rendered="#{loginMB.admin }">

                            <li class="nav-item">
                                <a class="nav-link">
                                    <span>Adotar Pet</span>
                                </a>
                            </li>   

                        </h:panelGroup>

                        <li class="nav-item">
                            <a class="nav-link">
                                <span>Acompanhar Pet</span>
                            </a>
                        </li>    

                        <li class="nav-item"><span class="nav-link active" >Relatório</span></li>

                        <li class="nav-item">
                            <a class="nav-link">
                                <i class="oi oi-cart"></i> <span>Adoções</span>
                            </a>
                        </li>

                        <li class="nav-item">    
                            <h:form>  

                                <h:commandLink class="nav-link" action="#{templateMB.logout()}">
                                    <i class="oi oi-account-logout"></i> <span>Sair</span>
                                </h:commandLink>

                            </h:form>  
                        </li>
                    </ul>
                </nav>
            </aside>
            <section class="row container-fluid"  >
                <div class="col-12">
                    <ui:insert name="body">Conteúdo</ui:insert>
                </div>
            </section>
        </div>

        <footer class="layout-footer">
            <div class="container">
                <span class="footer-copy">&copy; Adota Pet Web. Todos os direitos reservados.</span>
            </div>
        </footer>


        <!-- Bootstrap core JavaScript
                ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <!--===============================================================================================-->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" ></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

        <script type="text/javascript">
        </script>
    </h:body>

</html>
